apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "r2e-tinker.fullname" . }}-config
  namespace: {{ .Release.Namespace }}
data:
  # Dataset & model config (available as env vars in orchestrator)
  R2EGYM_DATASET: {{ .Values.r2egym.dataset | quote }}
  R2EGYM_SPLIT: {{ .Values.r2egym.split | quote }}
  R2EGYM_MAX_WORKERS: {{ .Values.r2egym.workers | quote }}
  R2EGYM_MAX_STEPS: {{ .Values.r2egym.maxSteps | quote }}
  R2EGYM_TEMPERATURE: {{ .Values.r2egym.temperature | quote }}
  JOB_TYPE: {{ .Values.job.type | quote }}
  {{- if .Values.proxy.enabled }}
  LLM_NAME: "openai/gpt-tinker"
  LLM_BASE_URL: "http://tinker-proxy:8080/v1"
  OPENAI_API_KEY: "sk-placeholder"
  {{- end }}
  # S3 config
  AWS_REGION: {{ .Values.aws.region | quote }}
  {{- if .Values.aws.s3.bucket }}
  S3_BUCKET: {{ .Values.aws.s3.bucket | quote }}
  S3_PREFIX: {{ .Values.aws.s3.prefix | quote }}
  {{- end }}
